<div class="characteristics">
    <div class="title section-title" data-key="characteristics.title"></div>
    <div class="subtitle section-text" data-key="characteristics.subtitle"></div>

    <div class="items">
        <div class="item">
            <div class="icon-outer">
                <img src="/assets/images/characteristics/1.png" alt="1 characteristics">
            </div>

            <div class="item-title" data-key="characteristics.element1.title"></div>
            <div class="item-subtitle section-text" data-key="characteristics.element1.subtitle"></div>
        </div>

        <div class="item">
            <div class="icon-outer">
                <img src="/assets/images/characteristics/2.png" alt="2 characteristics">
            </div>

            <div class="item-title" data-key="characteristics.element2.title"></div>
            <div class="item-subtitle section-text" data-key="characteristics.element2.subtitle"></div>
        </div>

        <div class="item">
            <div class="icon-outer">
                <img src="/assets/images/characteristics/3.png" alt="3 characteristics">
            </div>

            <div class="item-title" data-key="characteristics.element3.title"></div>
            <div class="item-subtitle section-text" data-key="characteristics.element3.subtitle"></div>
        </div>

        <div class="item">
            <div class="icon-outer">
                <img src="/assets/images/characteristics/4.png" alt="4 characteristics">
            </div>

            <div class="item-title" data-key="characteristics.element4.title"></div>
            <div class="item-subtitle section-text" data-key="characteristics.element4.subtitle"></div>
        </div>

        <div class="item">
            <div class="icon-outer">
                <img src="/assets/images/characteristics/5.png" alt="5 characteristics">
            </div>

            <div class="item-title" data-key="characteristics.element5.title"></div>
            <div class="item-subtitle section-text" data-key="characteristics.element5.subtitle"></div>
        </div>

        <div class="item">
            <div class="icon-outer">
                <img src="/assets/images/characteristics/6.png" alt="6 characteristics">
            </div>

            <div class="item-title" data-key="characteristics.element6.title"></div>
            <div class="item-subtitle section-text" data-key="characteristics.element6.subtitle"></div>
        </div>
    </div>
</div>
