<form id="contacts-data-form">
    <div class="form-group">
        <input type="text" id="name" name="name" placeholder="contacts.formName">
        <div class="error-message" id="nameError" data-key="contacts.errors.nameError"></div>
    </div>

    <div class="form-group">
        <input type="email" id="email" name="email" placeholder="contacts.formEmail">
        <div class="error-message" id="emailError" data-key="contacts.errors.emailError"></div>
    </div>

    <div class="form-group">
        <textarea id="message" name="message" placeholder="contacts.formMessage"></textarea>
    </div>

    <div class="main-button">
        <button data-key="topScreen.buttonLabel" type="submit"></button>
    </div>
</form>