<div class="contacts">
    <div class="form">
        <div class="contacts-title" data-key="contacts.formTitle"></div>
        <div class="contacts-subtitle" data-key="contacts.formSubtitle"></div>

        <div id="contact-form"></div>
    </div>

    <div class="details">
        <div class="contact-parallax-1">
            <img src="/assets/images/contact-parallax-1.png">
        </div>

        <div class="contact-parallax-2">
            <img src="/assets/images/contact-parallax-2.png">
        </div>

        <div class="contact-info">
            <div class="contacts-title" data-key="contacts.detailTitle"></div>
            <div class="contact">
                <span class="label" data-key="contacts.addressLabel"></span>: <span class="detail"
                                                                                    data-key="contacts.addressInfo"></span>
            </div>

            <div class="contact">
                <span class="label" data-key="contacts.phoneLabel"></span>: <span class="detail"><a
                    href="tel:022 000 000">022 000 000</a></span>
            </div>

            <div class="contact">
                <span class="label" data-key="contacts.emailLabel"></span>: <span class="detail"><a
                    href="mailto:testemail@gmail.com">testemail@gmail.com</a></span>
            </div>

            <div class="contact">
                <span class="label" data-key="contacts.followLabel"></span>: <br>
                <div class="social-follow">
                    <a href="https://twitter.com/" target="_blank" class="social">
                        <img src="/assets/images/twitter.png" alt="Twitter Share">
                    </a>

                    <a href="https://www.linkedin.com/" target="_blank" class="social">
                        <img src="/assets/images/linkedin.png" alt="LinkedIn Share">
                    </a>

                    <a href="https://www.facebook.com.com/" target="_blank" class="social">
                        <img src="/assets/images/facebook.png" alt="Facebook Share">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
