<div class="expertise">
    <div class="left-child">
        <div class="circle1">
            <img src="/assets/images/expertise/git.png" alt="GIT Icon">

            <div class="circle2">
                <img src="/assets/images/expertise/html.png" alt="HTML Icon">
                <img src="/assets/images/expertise/separator.png" alt="Separator Icon">
                <img src="/assets/images/expertise/css.png" alt="CSS Icon">
                <img src="/assets/images/expertise/separator.png" alt="Separator Icon">
                <img src="/assets/images/expertise/js.png" alt="JS Icon">
                <img src="/assets/images/expertise/separator.png" alt="Separator Icon">

                <div class="circle3">
                    <div class="center">
                        <img src="/assets/images/expertise/agile.png" alt="Agile Icon">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-child">
        <div class="title" data-key="characteristics.title"></div>
        <div class="subtitle" data-key="characteristics.subtitle"></div>
    </div>
</div>
