<footer class="footer">
    <div class="footer-inner">
        <div class="left-child">
            <div class="logo">
                <img src="/assets/images/large-logo.png" alt="Logo">
            </div>
        </div>

        <div class="right-child">
            <div class="footer-info">
                <nav>
                    <ul>
                        <li><a href="#characteristics" data-key="menu.generalPresentation"></a></li>
                        <li><a href="#reviews" data-key="menu.reviews"></a></li>
                        <li><a href="#faq" data-key="menu.faq"></a></li>
                        <li><a href="#contacts" data-key="menu.contacts">Contacte</a></li>
                    </ul>
                </nav>

                <div class="social-share">
                    <div class="label primary-text" data-key="share"></div>

                    <button class="share" onclick="openShareWindow('https://twitter.com/intent/tweet?url=')">
                        <img src="/assets/images/twitter.png" alt="Twitter Share">
                    </button>

                    <button class="share" onclick="openShareWindow('https://www.linkedin.com/sharing/share-offsite/?url=')">
                        <img src="/assets/images/linkedin.png" alt="LinkedIn Share">
                    </button>

                    <button class="share" onclick="openShareWindow('https://www.facebook.com/sharer/sharer.php?u=')">
                        <img src="/assets/images/facebook.png" alt="Facebook Share">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright section-text">
       <span data-key="copyright"></span>  <span id="year"></span>
    </div>
</footer>
