<header class="header">
    <div class="header-inner">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="Logo">
        </div>

        <div class="header-info">
            <nav>
                <ul>
                    <li><a href="#" data-key="menu.generalPresentation"></a></li>
                    <li><a href="#" data-key="menu.reviews"></a></li>
                    <li><a href="#" data-key="menu.faq"></a></li>
                    <li><a href="#" data-key="menu.contacts"></a></li>
                </ul>
            </nav>

            <div class="languages">
                <button class="language" onclick="setLanguage('ro')" id="language-ro">RO</button>
                /
                <button class="language" onclick="setLanguage('ru')" id="language-ru">RU</button>
            </div>
        </div>
    </div>

    <div class="container-top-ellipsis"></div>
</header>
