<div class="top-screen">
    <div class="hidden-background">
        <div class="main-background">
            <div class="parallax-1">
                <img src="/assets/images/parallax-1.png">
            </div>
            <div class="parallax-2">
                <img src="/assets/images/parallax-2.png">
            </div>
            <div class="parallax-3">
                <img src="/assets/images/parallax-3.png">
            </div>

            <div class="section-content">
                <div class="title1" data-key="topScreen.title1"></div>
                <div class="title2" data-key="topScreen.title2"></div>
                <div class="subtitle" data-key="topScreen.subtitle"></div>

                <div class="main-button">
                    <button data-key="topScreen.buttonLabel"></button>
                </div>
            </div>

            <div class="top-screen-ellipsis"></div>
        </div>
    </div>
</div>
