.characteristics {
    margin-top: 100px;
}

.characteristics .title {
    text-align: center;
    margin: auto;
}

.characteristics .subtitle {
    text-align: center;
    margin: auto auto 40px;
    max-width: 570px;
}

.characteristics .items {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.characteristics .items .item {
    flex: 1 1 calc(33.33% - 45px);
    box-sizing: border-box;
    padding: 50px 24px;
    background: #1C1C1C;
    box-shadow: -3px -3px 15px 0px #FFFFFF0D;
    border-radius: 20px;
}

.characteristics .item:hover {
    background: #222228;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.characteristics .item:hover .icon-outer {
    background: linear-gradient(135.66deg, #14244C 14.73%, #459AFE 86.33%);
}

.characteristics .item .icon-outer {
    margin: auto auto 40px;
    background: #222228;
    border-radius: 20px;
    width: 104px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.characteristics .item .item-title {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: auto auto 10px;
}

.characteristics .item .item-subtitle {
    text-align: center;
    margin: auto;
}

@media (max-width: 767px) {
    .characteristics {
        margin-top: 40px;
    }

    .characteristics .title,
    .characteristics .subtitle {
        text-align: left;
    }

    .characteristics .title,
    .characteristics .subtitle {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .characteristics .items {
        gap: 15px;
    }

    .characteristics .items .item {
        flex: 1 calc(100% - 15px);
        padding: 15px;
    }

    .characteristics .item .item-title {
        font-size: 16px;
        line-height: 18px;
    }

    .characteristics .item .icon-outer {
        margin: auto auto 15px;
        width: 60px;
        height: 60px;
    }

    .characteristics .item .icon-outer img {
        transform: scale(0.6);
    }
}