.faq {
    margin-top: 100px;
}

.faq .title {
    margin-bottom: 60px;
    text-align: center;
}

.faq .accordion-item {
    padding: 20px 30px;
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
    cursor: pointer;
    flex: 1 1 calc(50% - 50px);
    max-width: calc(50% - 88px);
    height: fit-content;
}

.faq #faq-box {
    display: flex;
    flex-flow: wrap;
    gap: 30px 50px;
}

.faq .accordion-item .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq .accordion-item .expanded {
    display: none;
}

.faq .accordion-item .content-inner {
    border-top: 1px solid #FFFFFF33;
}

.faq .accordion-item .accordion-content {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.faq .accordion-item .content-inner {
    display: none;
}

.faq .accordion-item .content-inner.active {
    display: block;
}

.faq .accordion-item .accordion-header.active {
    padding-bottom: 20px;
}

.faq .accordion-item .accordion-header.active .hidden {
    display: none;
}

.faq .accordion-item .accordion-header.active .expanded {
    display: block;
}

@media (max-width: 991px) {
    .faq {
        margin-top: 40px;
    }

    .faq .title {
        text-align: left;
        margin-bottom: 10px;
    }

    .faq #faq-box {
        gap: 15px;
    }

    .faq .accordion-item {
        flex: 1 calc(100% - 15px);
        max-width: 100%;
        height: fit-content;
        padding: 10px 20px;
    }

    .faq .accordion-item .accordion-header.active {
        padding-bottom: 10px;
    }

    .faq .accordion-item .accordion-content {
        padding-top: 10px;
    }
}