header {
    background: linear-gradient(92.51deg, #14244C 0.48%, #459AFE 100%);
    width: 100vw;
    margin-left: calc((100vw - 1440px) / -2);
    position: relative;
    overflow: hidden;
}

header .header-inner {
    display: flex;
    align-items: center;
    padding: 50px 70px 215px;
}

header .logo {
    padding-right: 80px;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding-right: 20px;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header .header-inner .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .header-inner .header-info .languages .language {
    cursor: pointer;
    background: none;
    border: none;
}

header .header-inner .header-info .languages .language.active {
    font-weight: bold;
}

.container-top-ellipsis {
    background: #1C1C1C;
    border-radius: 100% 100% 0 0;
    width: 140vw;
    height: 380px;
    left: -20vw;
    position: absolute;
    bottom: -250px;
}