#map-container {
    height: 552px;
    width: 100vw;
    margin-left: calc((100vw - 1440px) / -2);
    margin-top: 50px;
}

#map-container .leaflet-marker-icon {
    width: auto!important;
}

@media (max-width: 1440px) {
    #map-container {
        margin-top: 40px;
        margin-left: -40px;
    }
}

@media (max-width: 767px) {
    #map-container {
        margin-top: 20px;
        height: 230px;
    }
}

@media (max-width: 520px) {
    #map-container {
        margin-left: -20px;
    }
}