@import url("components/header.css");
@import url("components/top-screen.css");
@import url("components/footer.css");
@import url("components/characteristics.css");
@import url("components/expertise.css");
@import url("components/reviews.css");
@import url("components/contacts.css");
@import url("components/map.css");
@import url("components/try-now.css");
@import url("components/faq.css");

@keyframes MoveInCircleReversed {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(100px, -100px) rotate(-90deg);
    }
    50% {
        transform: translate(0, -150px) rotate(-180deg);
    }
    75% {
        transform: translate(-100px, -100px) rotate(-270deg);
    }
    100% {
        transform: translate(0, 0) rotate(-360deg);
    }
}

body {
    margin: 0;
    font-family: 'Poppins', 'Roboto', sans-serif;
    background: #1C1C1C;
    overflow-x: hidden;
}

.page-container {
    max-width: 1440px;
    margin: auto;
}

.main-container {
    background: #1C1C1C;
}

.main-button button {
    background: linear-gradient(92.51deg, #14244C 0.48%, #459AFE 100%);
    box-shadow: 4px 4px 10px 0px #00000059;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.main-button button:hover,
.secondary-button button:hover{
    box-shadow: 0px 0px 4px #ffffff60;
}

.secondary-button button {
    background: #1c1c1c;
    box-shadow: 4px 4px 10px 0px #000000B2;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}